.rating-modal {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.rating-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: background .3s ease-in;
}

.rating-modal__rating-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 523px;
  height: 455px;
  margin: auto;
  transform: translateY(-300px);
}

.rating-modal__rating-window {
  transform: translateY(-600px);
  transition: transform .3s ease-in;
}

.rating-modal__overlay{
  opacity: 0;
  z-index: -1;
}

.rating-open {
  opacity: 1;
  z-index: 1000;
}

.rating-hide {
  opacity: 1;
  z-index: 1000;
}

.rating-modal__rating-window.rating-open {
  transform: translateY(0);
}

.rating-modal__overlay.rating-open {
  background: rgba(0, 0, 0, .5)
}

.rating-modal__rating-window.rating-hide {
  transform: translateY(-600);
}

.rating-modal__overlay.rating-hide {
  background: rgba(0, 0, 0, 0)
}

.rating-modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/rating/rating_modal_bg.png) no-repeat center;
}

.rating-modal__header-bg {
  position: absolute;
  top: -11px;
  width: 264px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/rating/rating_modal_header_bg.png) no-repeat center;
}

.rating-modal__header-content {
  position: absolute;
  top: -7px;
  width: 211px;
  height: 26px;
  background: url(../images/rating/rating_modal_header_content.png) no-repeat center;
}

.rating-modal__close {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 17px;
  align-self: flex-end;
  width: 26px;
  height: 26px;
  background: url(../images/rating/rating_modal_close.png) no-repeat center;
}

.rating-modal__body-bg {
  position: absolute;
  top: 94px;
  width: 464px;
  height: 324px;
  background: url(../images/rating/rating_modal_body_bg.png) no-repeat center;
}

.rating-modal__table-wraper {
  position: absolute;
  top: 126px;
  height: 261px;
  width: 403px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rating-modal__table-wraper::-webkit-scrollbar {
  display: none;
}

.rating-modal__table-header-bg {
  position: absolute;
  top: 0;
  width: 403px;
  height: 29px;
  background: url(../images/rating/table_header_bg.png) no-repeat center;
}

.rating-modal__table-header-place {
  position: absolute;
  top: 10px;
  left: 16px;
  width: 39px;
  height: 10px;
  background: url(../images/rating/table_header_place.png);
}

.rating-modal__table-header-full-name {
  position: absolute;
  top: 10px;
  left: 99px;
  width: 88px;
  height: 11px;
  background: url(../images/rating/table_header_full_name.png);
}

.rating-modal__table-header-experience {
  position: absolute;
  top: 10px;
  left: 327px;
  width: 36px;
  height: 11px;
  background: url(../images/rating/table_header_experience.png);
}

.rating-modal__table-line-bg {
  position: absolute;
  width: 403px;
  height: 27px;
  background: url(../images/rating/table_line_bg.png) no-repeat center;
}

.rating-modal__table-line-place {
  position: absolute;
  width: 30px;
  height: 12px;
  display: flex;
  justify-content: center;
}

.rating-modal__table-line-full-name {
  position: absolute;
  width: 210px;
  height: 14px;
  display: flex;
  justify-content: start;
}

.rating-modal__table-line-experience {
  position: absolute;
  width: 40px;
  height: 11px;
  display: flex;
  justify-content: start;
}
